[submodule "Etc/DLU"]
	path = Etc/DLU
	url = https://gist.github.com/leolion3/ccf654ab60c8e110c65ef948da6af461
[submodule "leolion3"]
	path = leolion3
	url = git@github.com:leolion3/leolion3.git
[submodule "Etc/leolion3"]
	path = Etc/leolion3
	url = git@github.com:leolion3/leolion3.git
[submodule "Etc/Simple-File-Transfer-PC"]
	path = Etc/Simple-File-Transfer-PC
	url = https://github.com/leolion3/Simple-File-Transfer-PC
[submodule "Etc/Simple-File-Transferer-Android"]
	path = Etc/Simple-File-Transferer-Android
	url = https://github.com/leolion3/Simple-File-Transferer-Android
[submodule "Etc/ai-wrappers"]
	path = Etc/ai-wrappers
	url = git@github.com:leolion3/ai-wrappers.git
	branch = main
[submodule "Etc/electron-screen-recorder"]
	path = Etc/electron-screen-recorder
	url = git@github.com:leolion3/electron-screen-recorder.git
	branch = main
