<link rel="shortcut icon" type="image/jpeg" href="https://user-images.githubusercontent.com/45939246/203090812-a86b125d-1ff5-495f-980c-dab14a6faca9.jpeg">
<meta name="description" content="Leonard Haddad Portfolio Website">
<meta name="keywords" content="portfolio, leonard, haddad, development, java, python, c, c sharp, unity, unreal engine, projects, university, tools, hacking, pentesting, web, sql, hibernate, jakarta, spring boot, javaee, jsf, sqlite, scikit learn, github pages, matplotlib, job, hiring, freelance, lego, universe, documentation, adesso, mercedes, bachelor, master, linux, bash, profile, windows, resume, work, languages, programming, postgreSQL, powershell, duckyscript, solidity, blockchain, php, javascript, firstspirit, xml, haskell, css, html, nodejs, dart, kotlin, flutter, assembly, macos, debian, docker, terminal, sublime, text, nano, vim, gradle, maven, vscode, visual studio">
<meta name="author" content="Leonard Haddad">
<!-- Reference: https://christianheilmann.com/2022/09/14/quick-tip-embedding-youtube-videos-in-github-pages/ -->
<div class="embed-container">
    <iframe width="640" height="390" 
    src="https://www.youtube.com/embed/{{ include.id }}" 
    frameborder="0" allowfullscreen></iframe>
</div>
<style>
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
