.left {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.left .description {
  width: 40%; 
  padding: 10px; 
  background: #0000; 
  border: 1px solid #b5e853; 
  border-radius: 6px; 
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.6); 
  margin-bottom: 50px; 
  color: #b5e853;
}
.left .description .svg {
  align-items: start;
  overflow: scroll
}
.left .description p {
  word-wrap: break-word
}
.left .year {
  width: 10%; 
  text-align: center; 
  position: relative;
}
.left .year span {
  font-size: 1.4em; 
  position: absolute; 
  z-index: 1; 
  left: 50%; transform: translateY(-130%); 
  padding: 0 10px; color: #b5e853;
}
.right {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.right .year {
  width: 10%; 
  text-align: center; 
  position: relative;
}
.right .year span {
  font-size: 1.4em; 
  position: absolute; 
  z-index: 1; 
  right: 50%; transform: translateY(-130%); 
  padding: 0 10px; 
  color: #b5e853;
}
.right .description {
  width: 40%; 
  padding: 10px; 
  background: #0000; 
  border: 1px solid #b5e853; 
  border-radius: 6px;
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.6); 
  margin-bottom: 50px; 
  color: #b5e853;
}
.right .description .svg {
  align-items: start;
  overflow: scroll
}
.right .description p {
  word-wrap: break-word
}
